{% extends "base.html" %}

{% block title %}Contacto{% endblock %}

{% block body %}
<h2>Este sitio se encuentra aún en desarrollo.</h2>


<p>La idea principal de este sitio es agrupar contenido relacionado con
un tema particular en un sólo lugar para que las cosas no queden en el
olvido y estar más y mejor informado sobre un tema particular,
pudiendo ver distintos los puntos de vista.</p>

<p>nosehablamas.com.ar no intenta generar nuevo contenido sino compartir
el contenido (link) que ya se encuentran en la web, como ser videos,
noticias, grupos de Facebook y muchas cosas más.</p>

<p>En la página principal se listarán los temas actuales de mayor
relevancia, pudiendo filtrar estos resultados por fecha o palabras
claves para así encontrar exactamente lo que se busca.</p>
{% endblock %}
