<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <title>nosehablamas.com.ar | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />

    {% block extra_head %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29625246-1']);
      _gaq.push(['_trackPageview']);

      (function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <div id="top">
      <div id="logo">
	<h1>
	  <a id="logo-link" href="/">
	    <span class="no">no</span>se<span class="habla">habla</span>mas<span class="comar">.com.ar</span>
	  </a>
	</h1>
	<p class="legend">que no queden en el olvido...</p>
      </div>
      <div id="menu">
	<ul>
	  <li><a href="{% url about %}">ACERCA DE</a></li>
	  <li><a href="{% url contact %}">CONTACTO</a></li>
	</ul>
      </div>
      <div class="legend">
      </div>
    </div>

    {% if messages %}
    {{ message.tags }}
    <ul class="messages {% if message.tags %}{{ message.tags }}{% endif %}">
      {% for message in messages %}
      <li>
	{% if "success" in messages.tags %}
	<img src="{{ STATIC_URL }}img/information.png" />
	{% else %}
	<img src="{{ STATIC_URL }}img/error.png" />
	{% endif %}
	{{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="body">
      {% block body %}{% endblock %}
    </div>

  </body>
  
</html>
