{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Página Principal{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}

{% block body %}

<div id="news-form">
  <form method="POST" action="{% url news__add_news %}">
    {% csrf_token %}
    {{ news_form.title }}
    <input id="news-submit" type="submit" value="Agregar habla" />
  </form>
</div>

{% for n in news %}

<div class="news title {% cycle 'green' 'blue' as color %}">
  <h3><a id="news-{{ n.id }}" href="#{{ n.title|slugify }}" name="{{ n.title|slugify }}">{{ n.title }}</a></h3>
</div>

{% for a in n.article_set.all reversed %}
<div id="article-{{ a.id }}"
     class="news content {{ color }}"
     name="article-news-{{ n.id }}"
     style="display: {% if forloop.counter > ARTICLES_NUM %}none{% else %}block{% endif %};">

  <div class="thumbnail">
    {% thumbnail a.image "130x100" crop="center" as image %}
    <a href="{{ a.url }}" target="_blank"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
    {% endthumbnail %}
  </div>

  <div class="text">
    <h3>{{ a.title }}</h3>
    <p class="description">{{ a.description }}</p>
    <a class="link" href="{{ a.url }}" targe="_blank">{{ a.url }}</a>
    <p class="date">Hace <abbr title="{{ a.posted_at }}">{{ a.posted_at|timesince }}</abbr></p>
  </div>

</div>

{% if forloop.last and n.article_set.all.count > ARTICLES_NUM %}
<div id="more-{{ n.id }}" class="news content more {{ color }}">
  <a href="#">Mas</a>
</div>
{% endif %}

{% endfor %}
<div id="article-form" class="{{ color }}">
  <form method="POST" action="{% url news__add_article %}">
    {% csrf_token %}
    {{ article_form.url }}
    <input type="hidden" name="news" value="{{ n.id }}" />
    <input id="article-submit" type="submit" value="Agregar link" />
  </form>
</div>
{% endfor %}
{% endblock %}
